.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.slider img {
    height: 70vh; /* Set your desired height */
    object-fit: cover; /* Ensure the image fits well without distortion */
  }
  